.bundle
.byebug_history

.powenv

.rbc
.rspec
.rvmrc

.yarn-integrity

*.bowerrc
*.env
*.orig

bower.json

capybara-*.html
config/initializers/secret_token.rb
config/master.key
coverage/

db/*.sqlite3
db/*.sqlite3-journal
db/*.sqlite3-[0-9]*

log/*

node_modules/

pickle-email-*.html
public/assets
public/packs
public/packs-test
public/system

rerun.txt

spec/tmp
storage/*
storage/.keep

tmp/*

vendor/assets/bower_components
vendor/bundle

yarn-error.log
yarn-debug.log*
